<h2>Proveedor <%=@proveedor.razon_social %> - Prestaciones </h2>
<hr />
<div class="row">
  <%= render :partial => "form_busqueda"%>
</div>

<div class="row text-left">
  <%= page_entries_info @prestaciones %>
</div>

<div class="row" id="prestacionesList">
  <%= render :partial => "index", :locals => { :prestaciones => @prestaciones }%>
</div>

<div class="row">
  <%= paginate @prestaciones %>
</div>


