<h1>Prestaciones </h1>

<table>
  <tr>
  	<th>Proveedor</th>
    <th>Tipo Prestacion</th>
    <th>Factura</th>
    <th>Monto</th>
  </tr>

<% @prestaciones.each do |prestacion| %>
  <tr>
  	<td><%= prestacion.proveedor.razon_social %></td>
  	<td><%= prestacion.tipo_prestacion.tipo %></td>
  	<td></td>
    <td><%= link_to 'Show', prestacion %></td>
    <td><%= link_to 'Edit', edit_prestacion_path(prestacion) %></td>
    <td><%= link_to 'Destroy', prestacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prestacion', new_prestacion_path %>
