<table class="large-12" role="grid">
	<thead>
		  <tr>
		  	<th>Estado            </th>
		  	<th>Número Afiliado   </th>
		  	<th>Apellido y Nombre </th>
		  	<th>Tipo	          </th>
		  	<th>Documento	      </th>
		    <th>Dosep          </th>
		    <th>&nbsp;            </th>
		  </tr>
    </thead>
    <tbody>
    <% afiliados.each do |afiliado| %>
		  <tr>
		  	<td>
		  		<%= estado_afiliado( afiliado ) %>
		  	</td>
		  	<td><%= afiliado.numero_afiliado %>   </td>
		  	<td><%= afiliado.apellido_nombre %>   </td>
		  	<td><%= afiliado.tipo_documento %>    </td>
		  	<td><%= afiliado.numero_documento %>  </td>
		  	<td><%="" %></td>
		    <td><%= link_to 'Ver', afiliado, {:class => "button small" } %>  </td>
		    <td><%= link_to 'Prestaciones', afiliado_registro_prestaciones_path(afiliado), {:class => "button small" } %>  </td>
		    <td><%= link_to 'Auditoria', new_afiliado_auditoria_path(afiliado), {:class => "button small" } %>  </td>
		  </tr>
    <% end %>
   </tbody>
</table>
