<div class="container">
	<h3 class="subheader">Afiliado: <%= @afiliado.apellido_nombre %></h3>
	<hr />
	
	<div class="row">
		<div class="column large-3">
			<%= label_column("Apellido y Nombre:") %>
		</div>
		<div class="column large-9">
			<%= @afiliado.apellido_nombre %>
		</div>
	</div>
	
	<div class="row">
		<div class="column large-3">
			<%= label_column("Beneficio:") %>
		</div>		
		<div class="column large-4">
			<%= @afiliado.numero_afiliado %>
		</div>
		<div class="column large-2">
			<%= label_column("Documento:") %>
		</div>
		<div class="column large-3">
			<%= @afiliado.documento %>
		</div>		
	</div>
	
	<div class="row">
		<div class="column large-3">
			<%= label_column("Domicilio") %>
		</div>		
		<div class="column large-9">
			<%= @afiliado.numero_afiliado %>
		</div>
	</div>
	
	
	<hr />
	<div class="row">
		<%= link_to 'Editar', edit_afiliado_path(@afiliado), :class => "button small" %> |
		<%= link_to 'voler', afiliados_path, :class => "button small" %>
	</div>	
</div>
