<table class="large-12" role="grid">
  <thead>
    <tr>
      <th width="10">ID</th>
      <th>Nombre</th>
      <th width="150">CUIT</th>
      <th width="150">Direccion</th>
      <th width="150">&nbsp;</th>
    </tr>
  </thead>	
<% @proveedores.each do |proveedor| %>
  <tr>
  	<td><%= proveedor.id %></td>
  	<td><%= proveedor.razon_social %></td>
  	<td><%= proveedor.cuit %></td>
  	<td><%= proveedor.direccion %></td>
    <td>
    <%= link_to 'Editar', edit_proveedor_path(proveedor), :class => "tiny button" %>
    <%= link_to 'Nuevo Registro',  new_proveedor_prestacion_path(proveedor),  :class => "tiny button" %>
    <%= link_to 'Ver Registros',  proveedor_prestaciones_path(proveedor),  :class => "tiny button" %>
    <%= link_to 'Eliminar', proveedor, method: :delete, data: { confirm: 'Esta Seguro que desea eliminar el proveedor?' } , :class => "tiny button alert" %>            
    </td>
  </tr>
<% end %>
</table>