<table class="large-12" role="grid">
	<thead>
		  <tr>
		  	<th>Email            </th>
		  	<th>Nombre   </th>
		  	<th>Apellid </th>
		  	<th>Role        </th>
    	    <th>&nbsp;            </th>
		  </tr>
    </thead>
    <tbody>
    <% usuarios.each do | usuario | %>
		  <tr>
		  	<td><%= usuario.email  %>   </td>
		  	<td><%= usuario.name  %>   </td>
		  	<td><%= usuario.last_name   %>   </td>
		  	<td><%= usuario.role_name   %>   </td>
		    <td><%= link_to 'Ver', usuario, {:class => "button small" } %>  </td>
		  </tr>
    <% end %>
   </tbody>
</table>