<h3 class="subheader">Ordenes Medicamentos</h3>
<hr />
<%= link_to "Nueva Orden", new_orden_path, :class => "green radius button"%>
<div class="row">
  <%= render :partial => "form_busqueda" %>	
</div>

<div class="row text-left">
  <%= page_entries_info @ordenes %>	
</div>

<div class="row" id="ordenesList">
  <%= render :partial => "index", :locals => { :ordenes => @ordenes } %>
</div>

<div class="row">
  <%= paginate @ordenes %>
</div>

